.footer {
  height: 50px;
  background-color: #1a2223;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.footer__icon {
  color: #d0ad28;
  margin-right: 5px;
  font-size: 30px !important;
}

.footer p {
  text-transform: capitalize;
  font-size: 20px;
  margin-right: 10px;
  font-weight: bold;
}

.footer__gh--link {
  color: white;
  font-size: 18px;
}
