.list {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  transition: all 0.2s ease-in;
}

.item__name {
  text-transform: capitalize;
  padding-left: 20px;
}

.list:hover {
  background-color: white;
  box-shadow: 2px 3px 10px black;
  cursor: pointer;
}

.item__delete:hover {
  transition: all 0.2s ease-in;
  color: crimson;
  transform: scale(1.3);
}

@media screen and (max-width: 420px) {
  .item__name {
    font-size: 15px;
  }
}
