.my__langs {
  width: 35%;
  padding: 20px;
  border-right: 1px solid black;
}

.my__langs--title {
  font-size: 20px;
  color: #d0ad28;
  border-bottom: 1px solid #d0ad28;
  display: flex;
  padding-bottom: 15px;
}

.lang {
  margin-top: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (max-width: 990px) {
  .my__langs {
    width: 40%;
  }
}

@media screen and (max-width: 890px) {
  .my__langs {
    width: 45%;
  }
}

@media screen and (max-width: 660px) {
  .my__langs {
    width: 100%;
    border: none;
  }
}

@media screen and (max-width: 400px) {
  .lang {
    font-size: 13px;
  }
}
